[DIRECTORIES]
input_dir=/home/irri-bioinformatics/3kRG/irri/
reference_dir=/home/irri-bioinformatics/3kRG/ref_genome/reference_genome.fa
software_dir=/home/irri-bioinformatics/3kRG/software
output_dir=/home/user.name/scratch2/output
analysis_dir=/home/user.name/scratch1/analysis
scripts_dir=/home/user.name/scratch1/scripts
tmp_dir=/home/user.name/scratch2/tmp
disk=10

[SOFTWARE]
picard=/home/irri-bioinformatics/3kRG/software/picard-tools-1.119
gatk=/home/irri-bioinformatics/3kRG/software/GenomeAnalysisTK-3.2-2/GenomeAnalysisTK.jar
samtools=samtools faidx
bwa=bwa
bgzip=bgzip
tabix=tabix

[SLURM PARAMETERS]
email=username@irri.org
username=user.name
partition=[batch,pool]
server=[tux,duke]

[MODULES]
bwa_tux=bwa/0.7.10-intel
samtools_tux=samtools/1.0-intel
htslib_tux=htslib/1.0-intel
vcftools_tux=vcftools/0.1.15-intel
bamutil_tux=bamutil/1.0.13-intel

bwa_duke=bwa/0.7.10-gcc
samtools_duke=samtools/1.0-gcc
htslib_duke=htslib/1.0-gcc
vcftools_duke=vcftools/0.1.15-gcc
bamutil_duke=bamutil/1.0.13-gcc