[DIRECTORIES]
input_dir=/home/username/input
reference_dir=/home/username/reference/reference_genome.fa
software_dir=/home/username/software
output_dir=/home/username/scratch2/output
analysis_dir=/home/username/scratch1/analysis
scripts_dir=/home/username/scratch1/scripts
tmp_dir=/home/username/scratch2/tmp
disk=10

[SOFTWARE]
picard=/home/username/software/picard-tools-1.119
gatk=/home/rusername/software/GenomeAnalysisTK-3.2-2/GenomeAnalysisTK.jar
samtools=samtools faidx
bwa=bwa
bgzip=bgzip
tabix=tabix

[SLURM PARAMETERS]
email=username@irri.org
username=username
partition=batch
